@import "variables.sass"

*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  font-size: 50%

button
  padding: 0
  border: none
  background: none
  color: inherit


li
  list-style: none

a
  text-decoration: none